<table border="1">
    <tr>
    {% for field in fields %}
    <td>{{ field.key }}: {{ field.value }}</td>
    <td>row 1, cell 2</td>
    <td>row 1, cell 2</td>
    <td>row 1, cell 2</td>
    <td>row 1, cell 2</td>
    <td>row 1, cell 2</td>
    <td>row 1, cell 2</td>
    <td>row 1, cell 2</td>
    </tr>
    {% endfor %}
   
    </table>