<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>渠道管理系统</title>
    <!-- 引入样式 -->
    <!-- <link rel="stylesheet" href="./index.css"> -->
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./table.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- 引入axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入eleme组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <style>
        
        #app{
            width:100%;
            height:126vh;
        }
        .header{
            width: 90%;
            margin: 0 auto;
            padding: 20px;
        }
        .main{
            width: 100%;
            margin: 0 auto;
            
        }
        .el-table__row{
            font-size: 12px;
        }
        .el-dropdown-link {
            cursor: pointer;
            color: #409EFF;
        }
        .el-icon-arrow-down {
            font-size: 12px;
        }
        .el-dropdown{
            /* width: 15%; */
            float:right;
        } 
        .lis{
            padding: 10px;
            font-size:12px;
            color: #638ab3; 
        } 
        .nowrap{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
        .el-table{
            margin-top: 15px;
        }
        .el-button+.el-button{
            margin-left: 0px!important;
        }
        [v-cloak]{
            display: none;
        }
    </style>

</head>

<body>
    <div id="app" v-cloak style="background: no-repeat url(http://test.myushan.com//727/bg727.jpg);">
        <div class="header">
            <img style="width:120px;z-index:200;vertical-align: bottom;" src="http://test.myushan.com//logo/black_yushanlogo.png" />
            <h1 style="display: inline;color: black;">任务管理平台</h1>
        </div>
        <el-tabs type="border-card" style="width: 90%;margin:10% auto;" v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="渠道商需求" class="tab_top" name="first">
                <div class="main">
                    <!-- 搜索框 -->
                    <el-input style="width: 35%;" v-model="search" placeholder="请输入帐户名/二级域名">
                        <el-button size="mini"slot="append" icon="el-icon-search" @click="searchinfo"></el-button>
                    </el-input>
                    <!-- 时间选择 -->
                    <el-date-picker style="width: 35%;" v-model="timeChoose" type="daterange" align="right" unlink-panels range-separator="至"
                    @change="timeChooseEvent" start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="pickerOptions">
                    </el-date-picker>
                    <!-- 新需求下拉 -->
                    <el-dropdown @command="handleCommand" style="float: right;margin-top: 7px">
                        <el-button size="mini"type="primary">
                            新需求
                            <i class="el-icon-caret-bottom el-icon--right"></i>
                        </el-button>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="1" style="padding: 4px 23px;">新增需求</el-dropdown-item>
                            <el-dropdown-item command="2" style="padding: 4px 23px;">修改需求</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
        
                    <!-- 表格数据展示 -->
                    <el-table  :data="tableData" class="vue-table" height="440"  border @sort-change="sortTable" >
                        <el-table-column prop="id" label="编号" sortable='custom' >
                        </el-table-column>
                        <el-table-column  prop="sub_date" label="日期" sortable='custom' min-width="110">
                            <template slot-scope="scope">
                                  {{scope.row.sub_date|timeFormat}}  
                            </template>
                        </el-table-column>
                        <el-table-column prop="account" label="账户名称" min-width="180">
                        </el-table-column>
                        <el-table-column prop="domain" label="二级域名" min-width="120">
                        </el-table-column>
                        <el-table-column prop="cnt" label="需求内容"  min-width="180">
                        </el-table-column>
                        <el-table-column  label="素材包" min-width="160">
                            <template slot-scope="scope">
                                <a class="nowrap" :href="'/public/'+scope.row.zip_link" target="_blank">{{ scope.row.zip_link }}</a>
                            </template>
                            
                        </el-table-column>
                        <el-table-column prop="status" label="需求状态" min-width="140" sortable='custom'>
                            <template slot-scope="scope">
                                <el-alert
                                    :title="scope.row.status|requestStatus"
                                    :type="scope.row.status|statuss"
                                    :closable="false"
                                    style="background-color: transparent;"
                                    show-icon>
                                </el-alert>
                            </template>
                        </el-table-column>
                        <el-table-column  label="推广链接" width="180">
                            <template slot-scope="scope">
                                <span @click="urlinfoEvent(scope)" class="nowrap" >{{scope.row.link||"无"}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作" style=""min-width="130" >
                            <template slot-scope="scope">
                                <el-button size="mini"type="primary" :disabled="scope.row.status!==0" style="cursor:pointer;border: none;" @click="cancelTaskEvent(scope.row)">取消</el-button>
                                <el-button size="mini"type="primary" :disabled="scope.row.status!==0" style="cursor:pointer;border: none;margin-left: 0;" @click="overTasks(scope.row)">完成</el-button>
                            </template>
                        </el-table-column>
        
                    </el-table>
                    <!-- 表格分页 -->
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[20, 30, 50]"
                        :page-size="100" layout="total, sizes, prev, pager, next, jumper" style="text-align: center;margin-top: 10px;"
                        :total="totalnum">
                    </el-pagination>
                    <!-- 新增需求 -->
                    <el-dialog title="新增需求" :visible.sync="newTask" width="40%" modal="true" lock-scroll="true" close-on-click-modal="true" close-on-press-escape="true">
                        <div class="lis" style="text-indent:1em;">
                            <span>账户名称：</span>
                            <el-input style="width: 55%;" v-model="usrName" placeholder="请输入帐户名"></el-input>
                        </div>
                        <div class="lis" style="text-indent:1em;">
                            <span>二级域名：</span>
                            <el-input style="width: 55%;" v-model="domain" placeholder="请输入二级域名"></el-input>
                        </div>
                        <div class="lis" style="text-indent:1em;">
                            <span>需  求：</span>
                            <el-input style="width: 55%;" v-model="coment" placeholder="有啥需求就写上"></el-input>
                        </div>
                        <div class="lis">
                            <span style="vertical-align: top;">上传素材包：</span>
                            <el-upload style="display: inline-block;" :on-success="upsuccess" class="upload-demo" action="/demand/uploadF" :on-change="handleChange">
                                <el-button size="mini"style="margin-left: 15px;" size="small" type="primary">选择上传文件</el-button>
                                <div slot="tip" style="margin-left: 15px;" class="el-upload__tip">只能上传zip文件</div>
                            </el-upload>
                        </div>
                        <span slot="footer" class="dialog-footer">
                            <el-button size="mini"@click="newTask = false">取 消</el-button>
                            <el-button size="mini"type="primary" @click="newTaskEvent">确 定</el-button>
                        </span>
                    </el-dialog>
                    <!-- 修改需求 -->
                    <el-dialog title="修改需求" :visible.sync="changeTask" width="40%" modal="true" lock-scroll="true" close-on-click-modal="true"
                        close-on-press-escape="true">
                        <div class="lis" style="text-indent:1em;">
                            <span>需求内容：</span>
                            <el-input style="width: 55%;vertical-align: top;" type="textarea" :autosize="{ minRows: 2, maxRows: 4}" placeholder="请输入内容"
                                v-model="changerequest"></el-input>
                        </div>
        
                        <span slot="footer" class="dialog-footer">
                            <el-button size="mini"@click="changeTask = false">取 消</el-button>
                            <el-button size="mini"type="primary" @click="changeTaskEvent">确 定</el-button>
                        </span>
                    </el-dialog>
                    <!-- 取消需求 -->
                    <el-dialog title="取消需求" :visible.sync="cancelTask" width="40%" modal="true" lock-scroll="true" close-on-click-modal="true"
                        close-on-press-escape="true">
                        <span>此操作确认后取消后不可恢复，请问是否要取消该需求？</span>
        
                        <span slot="footer" class="dialog-footer">
                            <el-button size="mini"@click="cancelTask = false">取 消</el-button>
                            <el-button size="mini"type="primary" @click="cancelTasks">确 定</el-button>
                        </span>
                    </el-dialog>
                    <!-- 完成需求 上一部 -->
                    <el-dialog title="完成需求" :visible.sync="okTaskpre" width="40%" modal="true" lock-scroll="true" close-on-click-modal="true"
                        close-on-press-escape="true">
                        <div class="lis" style="text-indent:1em;">
                            <span>需求内容：</span>
                            <span>请问是否已完成这项需求？</span>
                            <span>如果需求为新增，需要您填入推广链接点击“确认”，方可更改为完成状态</span>
                        </div>
        
                        <span slot="footer" class="dialog-footer">
                            <el-button size="mini"@click="okTaskpre = false">暂未完成</el-button>
                            <el-button size="mini"type="primary" @click="okTaskpre = false;okTask=true;">好的，下一步</el-button>
                        </span>
                    </el-dialog>
                    <!-- 完成需求 -->
                    <el-dialog title="完成需求" :visible.sync="okTask" width="40%" modal="true" lock-scroll="true" close-on-click-modal="true" close-on-press-escape="true">
                        <div class="lis" style="text-indent:1em;">
                            <span>推广链接：</span>
                            <el-input style="width: 55%;vertical-align: top;" type="textarea" :autosize="{ minRows: 2, maxRows: 4}" placeholder="请输入内容"
                                v-model="request"></el-input>
                        </div>
        
                        <span slot="footer" class="dialog-footer">
                            <el-button size="mini"@click="okTask = false;okTaskpre=true;">上一步</el-button>
                            <el-button size="mini"type="primary" @click="doneTasks" :disabled="!request">确认</el-button>
                        </span>
                    </el-dialog>
                    <!-- 推广链接详情 -->
                    <el-dialog title="推广链接详情" :visible.sync="urlinfobol" width="40%"  modal="true" lock-scroll="true" close-on-click-modal="true" close-on-press-escape="true">
                        <div class="lis" style="text-indent:1em;height: 250px;overflow: auto;">
                            <div v-for="data of urlinfo ">{{data.replace("\"","").replace("\"","")}}</div>
                            
                        </div>
        
                        <!-- <span slot="footer" class="dialog-footer">
                            <el-button size="mini"@click="okTask = false;okTaskpre=true;">上一步</el-button>
                            <el-button size="mini"type="primary" @click="doneTasks" :disabled="!request">确认</el-button>
                        </span> -->
                    </el-dialog>
                </div>
            </el-tab-pane>
            <el-tab-pane label="二级域名解析" class="tab_top" name="second">
                <div class="main">
                    <!-- 搜索框 -->
                    <el-input style="width: 35%;" v-model="search1" placeholder="请输入帐户名/二级域名">
                        <el-button size="mini"slot="append" icon="el-icon-search" @click="searchinfo1"></el-button>
                    </el-input>
                    <!-- 时间选择 -->
                    <el-date-picker style="width: 35%;" v-model="timeChoose1" type="daterange" align="right" unlink-panels range-separator="至"
                    @change="timeChooseEvent1" start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="pickerOptions">
                    </el-date-picker>
                    <!-- 状态筛选 -->
                    <span >状态：</span>
                    <el-select @change="statusChange" size="mini" style="width:90px" v-model="valuestatus" placeholder="请选择">
                    <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        
                        :value="item.value">
                    </el-option>
                    </el-select>
                    <!-- 新需求下拉 -->
                    <!-- handleCommand -->
                    <!-- <el-dropdown @command="tabledata1(1)" style="float: right;margin-top: 7px">
                        <el-button size="mini"type="primary">
                            导出
                            
                            <i class="el-icon-caret-bottom el-icon--right"></i>
                        </el-button>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item command="1" style="padding: 4px 23px;">新增需求</el-dropdown-item>
                            <el-dropdown-item command="2" style="padding: 4px 23px;">修改需求</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown> -->
                    <el-button style="float:right;" size="mini"type="primary" @click="daochu"><a target="_blank" :href="excelurl">导出</a></el-button>
        
                    <!-- 表格数据展示 -->
                    <el-table v-loading="tableshow" :data="tableData1" class="vue-table" height="440"  border @sort-change="sortTable"  >
                        <el-table-column prop="id" label="编号" sortable='custom' min-width="80">
                        </el-table-column>
                        <el-table-column  prop="sub_date" label="日期" sortable='custom' min-width="140">
                            <template slot-scope="scope">
                                  {{scope.row.ctime|timeFormat1}}  
                            </template>
                        </el-table-column>
                        <el-table-column label="客户" min-width="180">
                                <template slot-scope="scope">
                                        <span>{{scope.row.advertiser||"空"}}</span>
                                    </template>
                        </el-table-column>
                        <el-table-column  label="帐户" min-width="180">
                                <template slot-scope="scope">
                                        <span>{{scope.row.a_users||"空"}}</span>
                                    </template>
                        </el-table-column>
                        <el-table-column prop="true_url" label="处理状态" min-width="150" sortable='custom'>
                            <template slot-scope="scope">
                                <el-alert
                                    :title="scope.row.true_url|requestStatus1"
                                    :type="scope.row.true_url|statuss1"
                                    :closable="false"
                                    style="background-color: transparent;"
                                    show-icon>
                                </el-alert>
                            </template>
                        </el-table-column>
                        <el-table-column  label="投放方式" min-width="100">
                            <template slot-scope="scope">
                                <span>{{scope.row.prname||'空'}}</span>
                            </template>
                            
                        </el-table-column>
                        <el-table-column  label="申请人" min-width="100">
                            <template slot-scope="scope">
                                <span>{{scope.row.name||'空'}}</span>
                            </template>
                            
                        </el-table-column>
                        <el-table-column  label="二级域名"  min-width="180">
                            <template slot-scope="scope">
                                <span>{{scope.row.true_url||"空"}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作" style="" min-width="130" >
                            <template slot-scope="scope">
                                <el-button size="mini" v-if="!scope.row.true_url" type="primary"  style="cursor:pointer;border: none;" @click="jiexi(scope.row)">解析</el-button>
                                <span v-else>完成</span>
                                <el-button size="mini" v-if="!scope.row.true_url"  type="primary"  style="cursor:pointer;border: none;" @click="shanchu(scope.row)">删除</el-button>
                                
                            </template>
                        </el-table-column>
        
                    </el-table>
                    <!-- 表格分页 -->
                    <el-pagination @size-change="handleSizeChange1" @current-change="handleCurrentChange1" :current-page="currentPage1" :page-sizes="[20, 30, 50]"
                         layout="total, sizes, prev, pager, next, jumper" style="text-align: center;margin-top: 10px;"
                        :total="totalnum1">
                    </el-pagination>
                    <!-- 新增需求 -->
                    <el-dialog title="解析二级域名" :visible.sync="jiexiBol" width="40%" modal="true" lock-scroll="true" close-on-click-modal="true" close-on-press-escape="true">
                        <div  class="lis">
                            <strong><span>客户：</span></strong>
                            {{jiexiInfo.advertiser||'空'}}
                        </div>    
                        <div class="lis">
                            <strong><span>帐户:</span></strong>
                            {{jiexiInfo.a_users||'空'}}
                        </div>
                        <div  class="lis">
                            <strong><span>解析说明:</span></strong>
                            {{jiexiInfo.note||'空'}}
                        </div>
                        <div  class="lis">
                            <strong><span>主域：</span></strong>
                            {{jiexiInfo.url||'空'}}
                        </div>
                        <div  class="lis">
                            <strong><span>二级域名：</span></strong>
                            <el-input style="width: 55%;" v-model="coment1" placeholder="写上解析好的二级域名"></el-input>
                        </div>
                        <span slot="footer" class="dialog-footer">
                            <el-button size="mini"@click="jiexiBol = false">取 消</el-button>
                            <el-button size="mini"type="primary" @click="jiexiEvent">确 定</el-button>
                        </span>
                    </el-dialog>
                </div>
            </el-tab-pane>
          </el-tabs>
        

    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                pickerOptions: {
                    disabledDate(time){
                        return time.getTime() >= Date.now() ;
                    },
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },

                tableData: [],
                tableData1: [],
                url: 'http://127.0.0.1',
                portNum:5500,
                timeChoose1: [],
                timeChoose: [],
                search: '',
                search1: '',
                currentPage: 1,
                currentPage1: 1,
                total: 211,
                total1: 211,
                newTask: false,
                changeTask: false,
                cancelTask: false,
                okTaskpre: false,
                okTask: false,
                usrName: '',
                request: '',
                changerequest:'',
                pageSize: 20,
                pageSize1: 20,
                rowData:{},
                totalnum:0,
                totalnum1:0,
                domain:'',
                domain1:'',
                zip:'',
                cloumnName:'',
                orders:1,
                coment:'',
                coment1:'',
                urlinfobol:false,
                urlinfo:{},
                activeName: 'first',
                valuestatus:'2',
                tableshow:true,
                jiexiBol:false,
                jiexiInfo:{},
                // valuestatus:'',
                options: [{
                    value: '0',
                    label: '全部'
                    }, {
                    value: '1',
                    label: '已完成'
                    }, {
                    value: '2',
                    label: '待处理'
                    }
                ],
                excelurl:'',

            }
        },
        created() {
            this.tabledata();
        },
        mounted() {
            
            // this.refresh();
        },
        methods: {
            //定时器
            refresh(){
                let _this = this; 
                setInterval(function(){
                    // _this.$message({
                    //     showClose: true,
                    //     message: '这是一条消息提示',
                    //     duration:0,
                    // });
                    alert('你有些消息');
                },50000)
            },
            formatter(row, column) {
                return row.address;
            },
            handleCommand(command) {
                console.log(command);
                switch (command) {
                    case "1":
                        this.newTask = true;
                        break;
                    case "2":
                        this.changeTask = true;
                }
            },
            //分页
            handleSizeChange(val) {
                this.pageSize = val;
                this.tabledata();
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.tabledata();
                console.log(`当前页: ${val}`);
            },
            handleSizeChange1(val) {
                this.pageSize1 = val;
                this.tableshow = true;
                this.tabledata1();
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange1(val) {
                this.currentPage1 = val;
                this.tableshow = true;
                this.tabledata1();
                console.log(`当前页: ${val}`);
            },
            handleChange(file, fileList) {
                this.fileList3 = fileList.slice(-3);
            },
            //获取表格数据
            tabledata(){
                let _this = this;
                if(this.timeChoose[0]&&this.timeChoose[1]){
                    var interval={
                            start:this.timeChoose[0],
                            end:this.timeChoose[1],
                        };
                }
                if(this.cloumnName){
                    var sort={
                        name:this.cloumnName,
                        value:this.orders,
                    }
                }
                
                
                console.log(interval);
                axios.get('/demand/view', {
                    params: {
                        search: this.search,
                        page: this.currentPage,
                        num: this.pageSize,
                        interval: interval,
                        sort:sort,
                    }
                })
                .then(function (response) {
                    _this.tableData = response.data.data.data;
                    _this.totalnum = Number(response.data.data.count);
                    _this.cloumnName = '';
                    this.orders = 1;
                    // console.log(_this.totalnum);
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            //域名解析搜索
            tabledata1(val){
               
                if(this.timeChoose1){
                    var start = this.timeChoose1[0]? moment(this.timeChoose1[0]).format('YYYY-MM-DD'):null;
                    var end = this.timeChoose1[1]? moment(this.timeChoose1[1]).format('YYYY-MM-DD'):null;
                }else{
                    start = null;
                    end = null;
                }
                let excelurl = 'http://c.lzad.cc/api/account/yuminglist?access-token=Owwy8el51j-PENYpZL9CyQzCpY28HbDg&per-page='+this.pageSize1+'&page='+this.currentPage1+'&Search_str='+ this.search1+'&start_date='+ start+ '&end_date='+end+'&status='+this.valuestatus;
                this.excelurl = excelurl +'&excel=1';
                let _this = this;
                // axios.get('http://c.lzad.cc/api/account/yuminglist?access-token=Owwy8el51j-PENYpZL9CyQzCpY28HbDg&per-page='+this.pageSize1+'&page='+this.currentPage1, {

                    axios.get(excelurl
                    
                            // Search_str: this.search1,
                            // page: this.currentPage1,
                            // start_date: start,
                            // end_date:end,
                            // status:this.valuestatus,
                            // excel:excel,
                    )
                    .then(function (response) {
                        if (Number(response.data.code) === 200 ){
                            _this.tableData1 = response.data.data;
                            _this.tableshow = _this.tableData1.length > 0 ? false : true;
                            _this.totalnum1 = Number(response.data.page_data.count);
                        }else{
                            _this.$message.error('暂无数据，莫慌。');
                            _this.tableshow = false; 
                            _this.tableData1 = [];
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        
                    });
                
            },
            //导出
            daochu(){
               
            },
            //搜索
            searchinfo() {
                this.tabledata();
            },
            searchinfo1() {
                this.tableshow = true;
                this.tabledata1();
            },
            //选择时间段展示数据
            timeChooseEvent(){
                this.tabledata();
            },
            timeChooseEvent1(){
                this.tableshow = true;
                console.log(this.timeChoose1);
                this.tabledata1();
            },
            //排序
            sortTable(data){
                let _this = this;
                console.log(data)
                if(data.order === "ascending"){
                    _this.orders= 1;
                }else if(data.order === "descending")
                this.cloumnName = data.prop;
                this.tabledata();

                
            },
            //新家需求
            newTaskEvent(){
                let _this = this;
                axios.get('/demand/new', {
                    params: {
                        account: this.usrName,
                        domain:this.domain,
                        zip_link:this.zip,
                        cnt:this.coment,
                    }
                })
                .then(function (response) {
                    _this.tableData = response.data.data;
                    _this.tabledata();
                    _this.changerequest = '';
                    _this.domain = '';
                    _this.usrName = '';
                    _this.coment = '';

                })
                .catch(function (error) {
                    // console.log(error);
                });

                this.newTask = false;
            },
            // 上传成功
            upsuccess(response, file, fileList){
                this.$message.success('文件上传成功');
                this.zip = response.data[0];
                // console.log(response.data[0]);
            },
            //需该需求
            changeTaskEvent(){
                let _this = this;
                axios.get('/demand/modify', {
                    params: {
                        cnt: this.changerequest,
                    }
                })
                .then(function (response) {
                    _this.tableData = response.data.data;
                    _this.tabledata();
                    _this.changerequest = '';
                })
                .catch(function (error) {
                    // console.log(error);
                });
                this.changeTask = false;
                
            },
            //取消需求
            cancelTaskEvent(row){
                this.cancelTask = true;
                this.rowData = row;
            },
            //完成需求前一步
            overTasks(row){
                this.rowData = row;
                console.log(row);
                let _this = this;
                this.okTaskpre=true;
            },
            //完成需求
            doneTasks(){
                let val = this.rowData;
                let _this = this;
                let link = this.request.split(/\s+/);
                link = JSON.stringify(link);
                console.log(this.request.split(/\s+/));
                axios.get('/demand/complete', {
                    params: {
                        id: val.id,
                        link:link,
                    }
                })
                .then(function (response) {
                    _this.tableData = response.data.data;
                    _this.request = '';
                    _this.$message.success("推广链接添加成功.");
                    _this.tabledata();
                })
                .catch(function (error) {
                    // console.log(error);
                });
                this.okTask=false;
            },
            //推广链接详情
            urlinfoEvent(val){
                console.log(val.row.link)
                this.urlinfobol = true;
                this.urlinfo = ((val.row.link).replace("\{","").replace("\}","")).split(",");
                console.log(this.urlinfo);

            },
            //取消需求
            cancelTasks(){
                let val = this.rowData;
                let _this = this;
                axios.get('/demand/delete', {
                    params: {
                        id: val.id,
                    }
                })
                .then(function (response) {
                    _this.tableData = response.data.data;
                    _this.tabledata();
                })
                .catch(function (error) {
                    // console.log(error);
                });
                this.cancelTask = false;
            },
            //tab切换
            handleClick(tab, event) {
                console.log(this.activeName);
                switch(this.activeName){
                    case 'first':
                    this.tabledata()
                    break;
                    case "second":
                    this.tableshow = true;
                    this.tabledata1();
                    break;
                }

            },
            //解析域名
            jiexi(val){
                this.jiexiBol = true;
                // console.log(val);
                this.jiexiInfo=val;
            },
            //删除信息
            shanchu(val){
                let _this = this;
                this.$message.info("正在删除你选中的需求。")
                console.log(val);
                // axios.get("http://192.168.1.110:8083/api/account/deleteyuming?access-token=jlt8gxWCViqVBGtb8wLps8al1zFOzPTi&id="+val.id)
                axios.get("http://c.lzad.cc/api/account/deleteyuming?access-token=Owwy8el51j-PENYpZL9CyQzCpY28HbDg&id="+val.id)
                .then(function (response) {
                    if (Number(response.data.code) === 200 ){
                       _this.tabledata1();
                       _this.$message.success("删除成功")
                    }else{
                        _this.$message.info("正在删除你选中的需求。")
                    }
                })
                .catch(function (error) {
                    console.log(error);
                    _this.$message.info("正在删除你选中的需求。")
                    
                });
            },
            //解析玩上传
            jiexiEvent(){
                let _this = this;
                axios.post('http://c.lzad.cc/api/account/upyumingstatus?access-token=Owwy8el51j-PENYpZL9CyQzCpY28HbDg&id='+this.jiexiInfo.id, {
                    // axios.post('http://192.168.1.110:8083/api/account/upyumingstatus?access-token=jlt8gxWCViqVBGtb8wLps8al1zFOzPTi&id='+this.jiexiInfo.id, {
                        true_url:this.coment1,
                })
                .then(function (response) {
                    _this.jiexiBol = false;
                    _this.coment1 = '';
                    _this.tabledata1();
                })
                .catch(function (error) {
                    console.log(error);
                });

                
            },
            //选择解析状态
            statusChange(){
                console.log(this.valuestatus);
                this.tabledata1();
            },

        },
        computed:{
            
        },
        filters: {
            statuss(val){
                let obj = {};
                switch (val) {
                    case 0:
                        obj.text = "info";
                        break;

                    case 1:
                        obj.text = "success";
                        
                        break;
                    case 2:
                        obj.text = "error";

                        break;
                }
                return obj.text;
            },
            requestStatus(data) {
                let obj = {};
                switch (data) {
                    case 0:
                        obj.text = "未完成";
                        obj.url = "";
                        break;

                    case 1:
                        obj.text = "已完成";
                        obj.url = "";
                        break;
                    case 2:
                        obj.text = "已取消";
                        obj.url = "";
                        break;
                }
                return obj.text;
            },
            requestStatus1(val){
                let txt = '';
                return txt = val? "已完成":"待处理";
            },
            statuss1(val){
                let txt = '';
                return txt = val? "success":"error";
            },
            timeFormat(date){
                return moment(date).format("YYYY-MM-DD HH:MM:SS");
                // return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            },
            timeFormat1(date){
                return moment(date*1000).format("YYYY-MM-DD HH:MM:SS");
                // return moment(date).format('MMMM Do YYYY, h:mm:ss a');
            }
        }
    })
</script>

</html>