
#app{
    width:100%;
    height:100vh;
}
.header{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
.main{
    width: 100%;
    margin: 0 auto;
    
}
.el-table__row{
    font-size: 12px;
}
.el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
  }
  .el-icon-arrow-down {
    font-size: 12px;
  }
 .el-dropdown{
     /* width: 15%; */
     float:right;
 } 
.lis{
    padding: 10px;
    font-size:12px;
    color: blueviolet; 
} 
.nowrap{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.el-table{
    margin-top: 15px;
    
}