.vue-table {
  border: 1px solid #b4b4b4!important;
}
 .el-table td,  .el-table th{
   padding: 0!important;
  height:35px!important;
}
.vue-table .el-table__header thead tr th{
   border-bottom: none;
}
.vue-table .el-table--fit {
  height:400px!important;
  min-height: 400px!important;
  text-align: center;
}
.vue-table .el-table__empty-block {
  height:400px!important;
  min-height: 400px!important;
}
.vue-table .el-input__inner{
  height:30px!important;
  line-height: 30px!important;
}
.vue-table .tool-bar {
  margin-bottom: 0px;
}
.vue-table .cell,.vue-table .td-text {
  width:100%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  color: #000;
  padding-left: 20px;
}

.vue-table td, .vue-table th.is-leaf {
  border-bottom:none!important;
}
 .el-table thead th,.el-table thead th>.cell {
  background: #f7f7f7!important;
}
.vue-table .el-pagination {
  white-space: nowrap;
  padding: 2px 5px;
  color: #606987;
  float: right;
  border-radius: 5px;
}
.vue-table .el-pagination button,.vue-table  .el-pagination span {
  min-width: 25px;
  height: 25px;
  line-height: 25px;
}
.vue-table .el-pager li {
  padding: 0 4px;
  font-size: 14px;
  min-width: 25px;
  border-radius: 5px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin: 0 2px;
  color: #bfcbd9;
}
.vue-table .el-pagination .btn-prev {
  border-radius: 5px;
  border: 1px solid #bfcbd9;
}
.vue-table .el-pagination .btn-next {
  border-radius: 5px;
  border: 1px solid #bfcbd9;
}
.vue-table .el-input__inner {
  border-radius: 5px;
  border: 1px solid #bfcbd9;
  width: 100%;
  height: 20px;
}
.vue-table .el-pagination .el-select .el-input input {
  padding-right: 25px;
  border-radius: 5px;
  height: 25px!important;
  margin-left: 5px;
}
.vue-table .el-pagination__editor {
  border: 1px solid #d1dbe5;
  border-radius: 5px;

  padding: 4px 2px;
  width: 25px!important;
  height:25px;
  line-height: 25px;
  text-align: center;
  margin: 0 6px;
  box-sizing: border-box;
  transition: border .3s;
}
.vue-table  .pagination-wrap {
  text-align: center;
  margin-top: 8px;
  height: 40px;
}
.vue-table .el-pager li {
  box-sizing: border-box;
}
.vue-table .el-pager li.active+li{
  border: 1px solid #d1dbe5;
}
.vue-table .el-table__body td {
  cursor: pointer;
  font-size: 12px;
  border-right: none;
}
.vue-table.el-table .cell, .vue-table.el-table th>div{

  padding-right: 0px;
}
/*滚轴*/
.vue-table  ::-webkit-scrollbar{
  width: 7px;
  height: 16px;
  border-radius:0;
  background-color: white;
}

/*定义滚动条的轨道，内阴影及圆角*/
.vue-table   ::-webkit-scrollbar-track{
  border-radius: 10px;
  background-color: white;
}
/*定义滑块，内阴影及圆角*/
.vue-table   ::-webkit-scrollbar-thumb{
  /*width: 10px;*/
  height: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px white;
  background-color: rgba(205,211,237,.4);
}
.vue-table tbody tr:nth-child(even) td{
  background: #f8f9fb;
  background-clip: padding-box!important;
}
.vue-table tbody tr:nth-child(odd) td{
  background-color: #fff;
}
.block{
  height:50px;
  position: relative;
  padding: 0.1px;
  .el-pagination {
    margin-top: 10px;
    .el-pagination__sizes {
      .el-select {
        height:30px!important;
        input{
          height:29px!important;
          line-height: 29px!important;
        }
      }
    }
  }
}
.textBorder {
  text-decoration:line-through!important;
  color: #757575!important;
}
.textColor {
  background: #757575!important;
}