{% extends "layout.html" %}
{% block content %}
  <h2>Upload Result</h2>
  <ul>
      {% for file in files %}
      <li><a href="/public/{{ file }}" _target="blank">{{ file }}</a></li>
      {% endfor %}
  </ul>
{% endblock %}
